@charset "utf-8";
/* CSS Document */
body{ margin:0px; 
      font-family:"宋体"; 
	  font-size:12px; 
	  color:#444444;
	  line-height:22px;
	  background-color:#ffffff; 
	      

}
a:link    { font-size:12px;  color:#0c0d11; text-decoration:none; line-height:22px; }
a:visited { font-size:12px;  color:#0c0d11; text-decoration:none; line-height:22px; }
a:hover   { font-size:12px;  color:#c2aa27; text-decoration:underline; line-height:22px; }
a:active  { font-size:12px;  color:#c2aa27; text-decoration:underline; line-height:22px; }


.table { border-collapse:collapse;
         border-left:1px #cccccc solid;
		 border-right:1px #cccccc solid;
		 border-top:1px #cccccc solid;
		 border-bottom:1px #cccccc solid;
}
.table td { border: 0px #cccccc solid; }
.table1 { width:990px; height:158px; background-image:url(../images/head.gif);  }
.table2 { width:990px; height:34px; background-image:url(../images/daohang.gif); }
.table3 { width:990px; height:350px;  }
.table4 { width:990px; height:360px;  }
.table5 { width:990px; height:220px;  }

.table6 { border-collapse:collapse;
         border-left:1px #cccccc solid;
		 border-right:1px #cccccc solid;
		 border-top:1px #cccccc solid;
		 border-bottom:0px #cccccc solid;
}
.table6 td { border: 0px #cccccc solid; }

.daohang { font-size:14px; font-family:"宋体"; font-weight:bold; color:#ffffff; line-height:22px; padding-left:40px; }
.daohang a:link    { font-size:14px;  color:#ffffff; text-decoration:none; line-height:22px; }
.daohang a:visited { font-size:14px;  color:#ffffff; text-decoration:none; line-height:22px; }
.daohang a:hover   { font-size:14px;  color:#ffffff; text-decoration:underline; line-height:22px; }
.daohang a:active  { font-size:14px;  color:#ffffff; text-decoration:underline; line-height:22px; }

.biaoti  { font-size:14px; font-family:"宋体"; font-weight:bold; color:#797979; }
.dabiaoti { font-size:14px; font-weight:bold; line-height:28px; color:#1a5591;}
.font14  { font-size:14px; font-family:"宋体"; color:#444444; line-height:28px; }
.font14 a:link    { font-size:14px;  color:#444444; text-decoration:none; line-height:28px; }
.font14 a:visited { font-size:14px;  color:#444444; text-decoration:none; line-height:28px; }
.font14 a:hover   { font-size:14px;  color:#444444; text-decoration:underline; line-height:28px; }
.font14 a:active  { font-size:14px;  color:#444444; text-decoration:underline; line-height:28px; }

.search{background:url(../images/index_03.jpg) no-repeat; width:990px; height:28px; line-height:28px}
.searchinput{ border:1px solid #999999; background-color:#FFFFFF; height:18px; font-size:12px; color:#333333; width:260px; line-height:14px}
.searchbotton{background:url(../images/index_05.gif) no-repeat; width:41px; height:22px; border-width:0; cursor:pointer; white-space:0}


.table7 { border-collapse:collapse;
          border-left:0px #cccccc solid;
		  border-right:0px #cccccc solid;
		  border-top:1px #cccccc solid;
		  border-bottom:1px #cccccc solid;
		  font-size:12px;
		  padding-top:3px;
}
.table7 td { border: 0px #cccccc solid; }

.font12  { font-size:12px; font-family:"宋体"; color:#444444; line-height:28px; }
.font12 a:link    { font-size:12px;  color:#444444; text-decoration:none; line-height:28px; }
.font12 a:visited { font-size:12px;  color:#444444; text-decoration:none; line-height:28px; }
.font12 a:hover   { font-size:12px;  color:#444444; text-decoration:underline; line-height:28px; }
.font12 a:active  { font-size:12px;  color:#444444; text-decoration:underline; line-height:28px; }

.bai14 { font-size:14px; font-family:"宋体"; color:#ffffff; font-weight:bold; }

























