{% extends "basepage/basepage.html" %}
{% load ueditor_filter %}
{% block title %}
    <title>网站添加 </title>
{% endblock  %}
{% block content %}
<script type="text/javascript">
    function submitForm(){
        if(!valSubmit()){
            return;
            }
        //editor.sync();
        $j("#form1")[0].submit();
    }

</script>
    <div class="con_center" >
    <form id="form1" action="/checkWebSite/" method="post">
        <table id="website_table" class="table0 bigtable tdpadding tablemargin" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr >
                <td align="left" bgcolor="#87ceeb">
                    <b>1.输入网站</b>
                </td>
                <td align="left" bgcolor="#87ceeb">
                    <b>2.验证网站</b>
                </td>
                <td align="left">
                    <b>3.完成网站验证</b>
                </td>
            </tr>

            <tr>
                <td align="left" style="padding: 10px;" colspan="4">
                    请按步骤完成，网站的验证: http://{{ weburl|default_if_none:'' }}<input type="hidden" name="domain" value="http://{{ weburl|default_if_none:"" }}/">
                </td>
            </tr>
            <tr>
                <td align="center" colspan="4">
                    <div style="width: 70%;text-align:left;padding: 10px;;background-color: #87ceeb;">
                        <p>
                            1.在您网站的根目录下创建“{{ filename }}.txt” 文件。
                        </p>
                        <p>
                        2.文件内容为：“{{ text }}”。
                        </p>
                        <p>
                        3.点击完成验证。
                        </p>
                        <p>
                        注意：次文件当日有效。
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="4">
                    <a href="#" onclick="submitForm()"  class="commit_btn" >完成验证</a>
                 {% csrf_token %}
                </td>
            </tr>
        </table>
    </form>
    </div>


{% endblock  %}